
<div class="flex w-screen h-screen justify-center bg-blue text-white">
    <div class="flex flex-col justify-evenly items-center">
        <section class="text-center lg:text-6xl tracking-wide">!Bienvenido a tu Personal Wallet!</section>
        <section class="flex flex-col bg-white w-4/6 h-3/6 rounded-lg items-center gap-4 p-4 justify-center gap-10 ">

            <div class="h-3/4 w-full flex flex-col items-center justify-evenly">    
                <input type="email"    class="w-72 p-1 rounded-lg border border-black text-black focus:outline-blue" placeholder="Ingresa tu email"> 
                <input type="password" class="w-72 p-1 rounded-lg border border-black text-black focus:outline-blue" placeholder="Ingresa tu contraseña"> 
            <a class="text-blue" href=""> ¿Olvidaste tu contraseña?</a>

            <button class="w-3/5 bg-blue p-2 rounded-lg font-bold"> Iniciar sesión </button>

            </div>
            <span class="w-full border border-light-gray"></span>
                
            <div class="flex h-1/4 w-full items-center flex-col justify-end p-6 ">

                <button class="w-2/5 bg-green p-2 rounded-lg font-bold"> Crear cuenta </button>
            </div>
        </section>
        <section class="text-center text-xl"> Crea una cuenta y comienza a gestionar de manera más controlada tu dinero!</section>

    </div>

</div>