<app-header></app-header>
<app-side-navbar></app-side-navbar>


@if (purchases.length == 0) {

  <div class="lg:flex lg:w-screen lg:h-bod lg:flex-row dark:bg-light-black lg:p-1 lg:gap-2"> 
    <div class="border rounded-lg w-screen justify-center text-center flex flex-col  justify-evenly ">
      <span> Parece que aun no cuentas con información para generar tu reporte </span>

      <a class="text-blue text-3xl hover:cursor-pointer" routerLink="/purchases"> Registra tus primeras compras </a>
    </div>
  </div>
}@else {



<div class="lg:flex lg:w-screen lg:h-bod lg:flex-row dark:bg-light-black lg:p-1 lg:gap-2">

  <article class="lg:flex lg:flex-col overflow-y-hidden ">

    <div
      class="border-black shadow-xl bg-white border p-4 rounded-lg dark:bg-black  overflow-y-scroll overflow-x-hidden">

      <section class="border-white text-black bg-white dark:bg-black overflow-x-hidden">
        <div class="flex flex-col justify-between">
          <div class="flex justify-between font-bold">
            <span class="flex dark:text-white">Bienvenido
              <p class="text-blue dark:text-light-blue">&nbsp; Gerardo Huízar</p>
            </span>
            <p class="dark:text-white"> {{today.transform(this.curDate,'EEEE d MMMM y','es-MX')}} </p>
          </div>
        </div>

        <div class="divide-y border border-light-gray justify-center dark:border-red"></div>

        <h1 class="text-center p-3 text-2xl dark:text-white">Gastos del mes</h1>

      </section>

      <section class="lg:overflow-y-scroll h-bod ">

        <table class="w-full justify-evenly">

          <thead>

            <tr class="w-full bg-light-gray p-4 h-[50px]  ">
              <th> # </th>
              <th class="max-w-min"> Fecha de compra </th>
              <th class="pl-[15px] pr-[15px]"> Metodo de pago </th>
              <th class="pl-[20px] pr-[20px]"> Descripción </th>
              <th class="pl-[20px] pr-[20px]"> Precio </th>
              <th class="pl-[15px] pr-[15px]"> Acción </th>
            </tr>
          </thead>


          @for (item of purchases; track $index) {

          <tbody class="even:bg-white odd:bg-light-gray">
 
            <tr >
              <td class="text-center"> {{item.indice}} </td>
              <td class="text-center"> {{item.purchaseDate | date: 'dd/MM/yyyy'}} </td>
              <td class="min-w-max"> {{item.paymentMethod}} </td>
              <td class="pl-[20px] pr-[20px]"> {{item.productName}} </td>
              <td class="pl-[20px] pr-[20px] text-right"> {{item.price | currency: 'CAD': '$'}} </td>
              <td class="text-center p-2 w-100px hover>cursor-pointer"> <mat-icon  matTooltip="Eliminar compra" class="scale-125 hover:cursor-pointer text-red" (click)="deletepurchase(item.idProduct)"> delete
                </mat-icon> </td>
            </tr>

          </tbody>
          }

        </table>
      
      </section>
    </div>

  </article>

  <article class="lg:flex lg:flex-col overflow-x-hidden gap-2 justify-between h-full">

    <div class="flex h-1/3 flex-col border-black shadow-xl border rounded-lg  bg-white dark:bg-black justify-evenly">

      <section class="flex items-center">

        <div class="w-2/3 flex flex-col justify-start p-3">


          <span class="flex justify-between px-8">
            <p class="font-bold dark:text-white">Ingresos:</p>
            <p class="text-green"> $ 10,047.38</p>
          </span>


          @for (item of summary[0]; track $index) {


          <span class="flex justify-between px-8">
            <p class="font-bold dark:text-white">Gastos en efectivo:</p>
            <p class="text-red"> {{item.efectivo | currency: 'CAD': '$'}} </p>
          </span>

          <span class="flex justify-between px-8">
            <p class="font-bold dark:text-white">Tarjeta debito:</p>
            <p class="text-blue"> {{item.tdd | currency: 'CAD': '$'}} </p>
          </span>

          @if(item.transfer > 0){
          <span class="flex justify-between px-8">
            <p class="font-bold dark:text-white">Transferencias:</p>
            <p class="text-orange"> {{item.transfer | currency: 'CAD': '$'}}</p>
          </span>
          }

          }

          <span class="flex justify-between px-8">
            <p class="font-bold dark:text-white">Mes anterior:</p>
            <p class="text-black dark:text-white"> $ 1,500.00</p>
          </span>
        </div>

        <div class="w-1/3 flex flex-col justify-evenly p-1">
          <span class="text-center text-3xl dark:text-white">
            Octubre
          </span>

          <span class="flex items-center justify-center ">

            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
              [legend]="showLegend" [arcWidth]="arcWidth" [labels]="showLabels" [doughnut]="isDoughnut"
              (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">

            </ngx-charts-pie-chart>
          </span>

        </div>

      </section>

      <section>
        <div class=" w-full border border-light-gray justify-center dark:border-red"></div>

        <div class="flex justify-end pr-6">
          <p class="text-black dark:text-white">Restante:</p>
          <p class="text-black dark:text-white pl-4">$1,560.25</p>
        </div>
      </section>
    </div>

    <div
      class="h-2/3 overflow-y-hidden flex flex-col border-black shadow-xl border rounded-lg p-2 bg-white dark:bg-black justify-evenly  ">
      <section class="text-2xl text-center dark:text-white ">
        <h2>Gastos por categoria</h2>
      </section>

      <section class="flex pt-4 max-w-min overflow-y-hidden">

        <div class="flex flex-row w-1/2">

          <span class="flex flex-col items-center justify-center w-full">

            <ngx-charts-pie-chart [view]="viewCategoriesInformation" [scheme]="colorSchemeC" [results]="categories"
              [gradient]="gradientC" [legend]="showLegendC" [arcWidth]="arcWidthC" [labels]="showLabelsC"
              [doughnut]="isDoughnutC" (select)="onSelect($event)" (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">

            </ngx-charts-pie-chart>
          </span>

        </div>

        <div class="flex  flex-col w-1/2  pr-4 overflow-y-scroll  text-black dark:text-white ">
          @for (item of categories; track $index) {

          <span class="flex flex-row justify-between">
            <p class="pl-6 font-bold"> {{item.name}}:</p>
            <p> {{item.value | currency: 'CAD': '$' }}</p>
          </span>
          }

          <div class="divide-y w-full border border-light-black justify-center dark:border-red"></div>

          <span class="flex flex-row justify-between">
            <p class="pl-6 font-bold">Total:</p>
            <p class=" font-bold  "> {{totalCategories | currency: 'CAD': '$'}}</p>
          </span>
        </div>
      </section>
    </div>

  </article>

</div>
}